:root {
    --sans-serif: "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: 'Poppins', sans-serif;
    --color-primary-darkest: rgb(65, 128, 204); 
    --color-blue: rgb(29,85,153);
    --color-bluelight: rgb(102, 199, 253);
    --color-pinklight: rgb(254, 179, 198);
    --color-pink: rgb(224, 98, 130);
    --color-pinkdark: rgb(135, 38, 62);
    --color-primary-green: #28A745;
    --color-greenlight: #a0ffb1;
    --color-primary-yellow: rgb(235, 151, 55);
    --color-yellow-light:rgb(252, 254, 207);
    --color-accent: #212529;
    --color-text-mid: #6c757d;
    --color-background-light: #FFFFFF;
    --color-light: #F2F3F7;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
}

header{
    display: block;
    padding: 10px 100px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    min-height: 100vh;
}

body, header, footer{
    background-color: var(--color-background-light);
}

.logo{
    text-decoration: none;
    color: var(--color-primary-darkest);
    font-weight: 500;
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 500;
}

.btn-auth{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-login, .btn-logout{
    color: var(--color-primary-darkest);
    border: 1px solid var(--color-primary-darkest);
    padding: 10px 12px;
    border-radius: 5px;
}

.btn-register{
    background-color: var(--color-primary-darkest);
    color: var(--color-light);
    padding: 10px 12px;
    border-radius: 5px;
}

footer p{
    bottom: 0;
    margin: 0 50px;
    font-size: 12px;
    border-top: 1px solid black;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px 30px;
    }

    footer p {
        margin: 0 20px;
    }
}

/* 2. Mobile (Lebar layar maksimal 576px) */
@media screen and (max-width: 576px) {
    header {
        display: flex;
        justify-content: center;
    }

    .nav-menu{
        display: none;
    }
}