section{
    padding: 0 100px;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.welcome-wrapper{
    gap: 15px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    max-width: 500px;
}

h1{
    text-align: left;
    color: var(--color-accent);
    font-weight: 500;
}

p{
    text-align: left;
    font-weight: 300;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 350;
    padding: 10px 15px;
    border-radius: 5px;
    background: var(--color-primary-darkest);
}

.feature-lists{
    padding: 0 100px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.feature{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature p{
    color: var(--color-text-mid);
    font-weight: 300;
}

.right-text, .right-text p{
    text-align: right;
}

h2{
    text-align: center;
    color: var(--color-accent);
    font-weight: 400;
    margin-bottom: 20px;
}

h3{
    color: var(--color-accent);
    font-weight: 400;
}