section{
    padding: 50px 100px;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.welcome-wrapper{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image img{
    width: 750px;
    max-width: 100%;
    height: auto;
}

.content .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    text-align: left;
    color: var(--color-accent);
    font-weight: 500;
}

p{
    text-align: left;
    font-weight: 300;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 350;
    padding: 10px 15px;
    border-radius: 5px;
    background: var(--color-primary-darkest);
}

.feature-lists{
    padding: 0 100px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.feature{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature p{
    color: var(--color-text-mid);
    font-weight: 300;
}

.right-text, .right-text p{
    text-align: right;
}

h2{
    text-align: center;
    color: var(--color-accent);
    font-weight: 400;
    margin-bottom: 20px;
}

h3{
    color: var(--color-accent);
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    section{
        padding: 45px 20px;
        justify-content: flex-start;
    }
}

/* 2. Mobile (Lebar layar maksimal 576px) */
@media screen and (max-width: 576px) {
    *{
        margin: 0;
    }

    section{
        min-height: fit-content;
        padding: 30px 25px;
    }

    h1, h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content .text>*{ 
        text-align: center;
    }

    .image{
        display: flex;
        justify-content: center;
    }

    .image img{
        display: none;
    }

    .btn{
        margin-top: 10px;
        padding: 8px;
        font-size: 12px;
    }

    .feature-lists{
        padding: 0 25px;
        margin-bottom: 0;
    }
}